@model HomeIndexViewModel
@{
    ViewBag.Title = "Index";
}
<h1>All Restaurants </h1>
@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant);
}

<div><a asp-action="Create" class="btn btn-success">New Restaurant</a></div>
